 h3{
color: #CEE5F2;
text-decoration: overline underline 3px #CEE5F2;
letter-spacing: 3px;
font-size: 30px;
text-shadow: 2px 2px #1D263B;
}

body{
  background-color: #78AACE
}

img{
  border-radius: 70px;
}

img:hover{
  width: 900px;
  border: dotted #CEE5F2;
  border-radius: 70px
}

h3:hover{
  color: #1D263B;
  text-decoration: overline underline dotted;
  font-size: 300%;
  text-transform: uppercase;
  text-shadow: 2px 2px #CEE5F2;
}


nav{
  list-style-type: none;
  background-color: #78AACE;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px;
}

li{
  display: inline;
  display: blocks;
  padding: 30px  100px;
}

li a{
  text-decoration: none;
  color: #CEE5F2;
}

li a:hover{
  background-color: #CEE5F2;
  color: #78AACE;
  padding: 30.5px 40px;
  text-decoration: underline;
}

body{
  background-color: #78AACE;
}

 h1{
color: #CEE5F2;
text-decoration: overline underline 3px #CEE5F2;
letter-spacing: 3px;
font-size: 30px;
text-shadow: 2px 2px #1D263B;
}
